<table class="table table-stripped table-hover align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr class="table-primary">
      <th>Company</th>
      <th>Student</th>
      <th>Date</th>
      <th>Current Status</th>
      <th>Update Status</th>
    </tr>
  </thead>
  <tbody>
    <%for(interview of interviews){ %>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <a href="/interview/company/<%=interview.company %>">
              <span class="fw-bold mb-1"><%=interview.company %></span>
            </a>
          </div>
        </div>
      </td>

      <td><%=interview.student.name %></td>
      <td><%=interview.date %></td>
      <td><%=interview.result || "Applied" %></td>

      <td>
        <form
          method="post"
          class="d-flex flex-row"
          action="/interview/updateStatus"
        >
          <select class="form-control w-50 d-flex flex-row" name="status">
            <option value="On Hold">On Hold</option>
            <option value="Selected">Selected</option>
            <option value="Pending">Pending</option>
            <option value="Not Selected">Not Selected</option>
            <option value="Did Not Attempt">Did Not Attempt</option>
          </select>
          <input name="interview" value="<%=interview._id%>" hidden />
          <button
            type="submit"
            class="btn btn-info text-black btn-link btn-sm btn-rounded"
          >
            Update
          </button>
        </form>
      </td>
    </tr>
    <%}%>
  </tbody>
</table>
