<table class="table table-stripped table-hover align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr class="table-primary">
      <th>Student</th>
      <th>Phone</th>
      <th>College</th>
      <th>Batch</th>
      <th>Placement</th>
      <th>Final Scores</th>

      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%for(student of students){ %>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1"><%=student.name %></p>
            <p class="text-muted mb-0"><%=student.email %></p>
          </div>
        </div>
      </td>
      <td><%=student.phone %></td>
      <td><%=student.college %></td>
      <td><%=student.batch %></td>

      <td>
        <% if(student.placement ==="Placed"){ %>
        <span class="badge badge-success rounded-pill d-inline">Placed</span>
        <% }else{ %>
        <span class="badge badge-warning rounded-pill d-inline"
          >Not Placed</span
        >
        <%}%>
      </td>
      <td>
        <div>
          DSA:
          <strong><%=student.dsa %></strong>
        </div>
        <div>WebD: <strong><%=student.webd %></strong></div>
        <div>Reactjs: <strong><%=student.react %></strong></div>
      </td>

      <td>
        <form method="post" action="/student/remove">
          <input name="studentID" value="<%=student._id%>" hidden />
          <button
            type="submit"
            class="btn btn-danger text-black btn-link btn-sm btn-rounded"
          >
            Remove
          </button>
        </form>
      </td>
    </tr>
    <%}%>
  </tbody>
</table>
