<%if(locals.user) {%> <%- include("./partials/_navbar") -%>

<div class="row g-5 gx-4 m-auto justify-content-center">
  <% for(job of jobs){ %>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title"><%=job.company.short_name%></h5>
      <h6 class="card-subtitle mb-2 text-muted">id: <%=job.id%></h6>
      <p class="card-text">position: <%=job.name%></p>
      <p class="card-text">type: <%=job.model_type%></p>
      <a href="<%=job.refs.landing_page%>" target="_blank" class="card-link"
        ><button type="button" class="btn btn-primary">Apply</button></a
      >
    </div>
  </div>

  <%} %>
</div>
<%}%>
