<%if(locals.user) {%> <%- include("./partials/_navbar") -%>

<div class="card w-50 m-auto border border-info">
  <div class="card-body">
    <h5 class="card-title text-center">Add a company</h5>

    <form method="post" action="/interview/add" class="card-text">
      <!-- name -->
      <div class="form-outline mb-3">
        <input
          type="text"
          id="form3Example1"
          name="company"
          class="form-control"
        />
        <label class="form-label" for="form3Example1">Company </label>
      </div>

      <div class="form-outline mb-3">
        <select
          class="border border-info form-control"
          name="student"
          id="form3Example6"
        >
          <option value="" aria-readonly="true">select student</option>
          <% for(student of students){ %>
          <option value="<%=student._id %>"><%= student.email %></option>

          <% } %>
        </select>
      </div>

      <div class="input-group mb-3">
        <input
          type="date"
          name="date"
          class="form-control"
          placeholder="Select interview Date"
          required
          aria-label="Date input 3 (using aria-label)"
        />
      </div>
      <!-- </div> -->
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Schedule interview
      </button>
    </form>
  </div>
</div>

<div class="mt-4 m-auto p-4">
  <% if(interviews &&interviews.length !==0){ %>
  <h2><%=tableHeader%></h2>
  <%-include("./partials/_interviewtable.ejs") -%> <%}else{%>
  <h2>No interviews to display</h2>
  <%}%>
</div>
<%}%>
